header, footer {
  width: 100%;
  background: green;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

article {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}